@import url('../global.css');
@import url('./styles/sidebar.css');
@import url('./styles/profile-picker.css');
@import url('./styles/sidebar.css');
@import url('./styles/profile-picker.css');
@import url('./styles/prompt-list.css');
@import url('./styles/prompt-item.css');

:root {
  --cc-background-color: rgb(32,33,35);
  --cc-background-color-hover: rgba(255, 255, 255, 0.1);
  --cc-text-white: rgb(255,255,255);
  --cc-border: 1px solid rgba(255,255,255,0.2);
  --cc-border-radius: 0.375rem;
}
