@import url('../global.css');

:root {
  --cc-background-color: rgb(32,33,35);
  --cc-text-white: rgb(255,255,255);
}

.cc-sidebar {
  display: block;
  padding: 8px;
  width: 260px;
  flex-direction: column;
  background-color: var(--cc-background-color);
}

.cc-profile-picker__button {
  position: relative;
  color: var(--cc-text-white);
  width: 100%;
  background-color: var(--cc-background-color);
  padding: 8px;
  border: none;
}

.cc-profile-picker__button__icon {
  position: absolute;
  left: 0.5rem;
  top: 0.9rem;
}

.cc-profile-picker__button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.cc-profile-picker__button--center {
  text-align: center;
}

.cc-profile-picker__button--border {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.375rem;
}

.cc-profile-picker__list {
  position: absolute;
  margin-top: 0.5rem;
  width: 100%;
  color: var(--cc-text-white);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 1px rgba(0, 0, 0, 0.1); /* shadow-lg */
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.375rem;
  overflow-y: auto;
  max-height: 13rem;
}

.cc-profile-picker__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
}
