.cc-editor {
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
}

.cc-editor__toolbar {
  display: flex;
  flex-direction: row;
  gap: 8px
}

.cc-editor__toolbar-button {
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.cc-editor__content-editable {
  margin-top: 8px;
  padding: 4px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  min-height: 100px;
  white-space: pre
}

.cc-editor__content-editable__variable {
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 0 2px;
  cursor: pointer;
}

.cc-editor__input {
background: transparent;
}

.cc-editor__variable-editor {
  position: absolute;
  height: 100px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  padding: 8px;

}
