:root {
  --scrollbar-width: 4px;
  --scrollbar-track-color: transparent;
  --scrollbar-thumb-color: rgb(59, 130, 246);
  --scrollbar-thumb-color-dark: rgb(23, 37, 84);
  --theme-duration: 0.1s;
}

* {
  transition: background-color var(--theme-duration), color var(--theme-duration);
}

.scrollbar {
  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

.dark .scrollbar {
  scrollbar-color: var(--scrollbar-thumb-color-dark) var(--scrollbar-track-color);
}

.scrollbar::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid var(--scrollbar-track-color);
  background-color: var(--scrollbar-thumb-color);
}

.dark .scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color-dark);
}

